rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    
    function isUser(userId) {
      return request.auth != null && request.auth.uid == userId;
    }
    
    function isAdmin() {
      // Check for the role in the user's own document
      return get(/databases/$(database)/documents/users/$(request.auth.uid)).data.role == 'admin';
    }

    match /users/{userId} {
      // Admins can list all users.
      allow list: if isAdmin();
      
      // A user can get their own document, or an admin can get any document.
      allow get: if isUser(userId) || isAdmin();
      
      // Admins can create, update, and delete any user.
      // A user can update their own document.
      allow create, delete: if isAdmin();
      allow update: if isUser(userId) || isAdmin();
    }
  }
}
