
rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    
    function isAdmin() {
      // An admin's role is stored in their user document in Firestore.
      return get(/databases/$(database)/documents/users/$(request.auth.uid)).data.role == 'admin';
    }

    match /users/{userId} {
      // A user can always read their own document. This is required for isAdmin() to work.
      allow get: if request.auth.uid == userId;
      // Admins can perform any action on any user document.
      allow list, update, create, delete: if isAdmin();
    }

    match /items/{itemId} {
      allow read, write: if request.auth != null;
    }

    match /vendors/{vendorId} {
      allow read, write: if request.auth != null;
    }

    match /services/{serviceId} {
        allow read, write: if request.auth != null;
    }

    match /settings/{settingId} {
      allow read, write: if isAdmin();
    }
  }
}
