
rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    
    function isAdmin() {
      return request.auth.token.role == 'admin';
    }

    match /users/{userId} {
      allow list, get, create, update, delete: if isAdmin();
      allow get, update: if request.auth.uid == userId;
      allow create: if request.auth.uid == userId;
    }

    match /items/{itemId} {
      allow read, write: if request.auth != null;
    }

    match /vendors/{vendorId} {
      allow read, write: if request.auth != null;
    }

    match /services/{serviceId} {
      allow read, write: if request.auth != null;
    }
  }
}

